<h1>Listing wikis</h1>

<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Question</th>
      <th>Answer</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wikis.each do |wiki| %>
      <tr>
        <td><%= wiki.topic %></td>
        <td><%= wiki.question %></td>
        <td><%= wiki.answer %></td>
        <% wiki.users.each do |user| %>
    <td><%= link_to user.email, user %></td>
      <% end %>
        <td><%= link_to 'Show', wiki %></td>
        <td><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
        <td><%= link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tr>
  </tbody>
</table>
<br>

<%= link_to 'New Wiki', new_wiki_path %>
